body {
    background-image: url("../img/calendar.jpg");
    background-size: cover;                 /* <------ */
    background-position: center center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
#div_titulo{
	padding: 25px 25px 15px;
	margin-top: 30px;
	background-color: #00b259;
	color: white;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	box-shadow:rgba(0, 0, 0, 0.18) 0px 0px 18px 2px;
	box-sizing:border-box;
}
#div_calendar_sidebar{
	padding: 0 5px;
	background-color:rgb(255, 255, 255);
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	border-top-left-radius:0;
	border-top-right-radius:0;
	box-shadow:rgba(0, 0, 0, 0.18) 0px 0px 18px 2px;
	box-sizing:border-box;
	color:rgb(51, 51, 51);
	font-family:"Helvetica Neue", Helvetica;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
#div_calendar{
	padding:  20px 10px 20px 20px;
}
#sidebar{
	padding: 20px 20px 20px 20px;
}


h2 {
	padding:20px 0px
	border-collapse:collapse;
	box-sizing: border-box;
	direction:ltr;
	display:block;
	font-family:Roboto, sans-serif;
	font-size:32px;
	font-weight:100;
	height:34.5455px;
	line-height:35.2px;
	margin-block-end:10px;
	margin-block-start:0px;
	margin-bottom:10px;
	margin-inline-end:0px;
	margin-inline-start:0px;
	margin-top:0px;
	text-align:left;
	text-size-adjust:100%;
	white-space:nowrap;
	width:187.031px;
	-webkit-border-horizontal-spacing:0px;
	-webkit-border-vertical-spacing:0px;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
.fc-day-header{
	background-color: #00b259;
	border-color: #00b259 !important;
	color: white;
	font-family:
	"Helvetica Neue", Helvetica;
}
.boton_gris{
	background-color:rgb(245, 245, 245);
	background-image:linear-gradient(rgb(255, 255, 255), rgb(230, 230, 230));
	background-repeat-x:;
	background-repeat-y:;
	border-bottom-color:rgba(0, 0, 0, 0.25);
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-image-outset:0px;
	border-image-repeat:stretch;
	border-image-slice:100%;
	border-image-source:none;
	border-image-width:1;
	border-left-color:rgba(0, 0, 0, 0.1);
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:rgba(0, 0, 0, 0.1);
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:rgba(0, 0, 0, 0.1);
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-top-style:solid;
	border-top-width:1px;
	box-sizing:border-box;
	color:rgb(51, 51, 51);
	cursor:pointer;
	font-family:"Helvetica Neue", Helvetica;
	font-size:16px;
	font-stretch:100%;
	font-style:normal;
	font-variant-caps:normal;
	font-variant-east-asian:normal;
	font-variant-ligatures:normal;
	font-variant-numeric:normal;
	font-weight:400;
	height:33.5938px;
	letter-spacing:normal;
	line-height:24px;
	overflow-x:visible;
	overflow-y:visible;
	padding-bottom:0px;
	padding-left:9.6px;
	padding-right:9.6px;
	padding-top:0px;
	text-align:center;
	text-indent:0px;
	text-rendering:auto;
	text-shadow:rgba(255, 255, 255, 0.75) 0px 1px 1px;
	text-size-adjust:100%;
	text-transform:none;
	white-space:nowrap;
	word-spacing:0px;
	-webkit-appearance:none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-webkit-border-image:
}

#div_opciones{
	margin-top: 20px;
}

.boton_opciones{
	width: 100%;
	margin-bottom: 15px;
}

.fc-button{
	background-image: none;
	background-color:rgb(221, 221, 221);
	border-bottom-color:rgba(0, 0, 0, 0);
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-image-outset:0px;
	border-image-repeat:stretch;
	border-image-slice:100%;
	border-image-source:none;
	border-image-width:1;
	border-left-color:rgba(0, 0, 0, 0);
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:rgba(0, 0, 0, 0);
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:rgba(0, 0, 0, 0);
	border-top-style:solid;
	border-top-width:1px;
	box-sizing:border-box;
	color:rgb(0, 0, 0);
	cursor:pointer;
	font-family:"Helvetica Neue", Helvetica;
	font-size:16px;
	font-stretch:100%;
	font-style:normal;
	font-variant-caps:normal;
	font-variant-east-asian:normal;
	font-variant-ligatures:normal;
	font-variant-numeric:normal;
	font-weight:400;
	letter-spacing:normal;
	text-shadow:none;
	text-size-adjust:100%;
	text-transform:none;
	transition-delay:0s, 0s, 0s, 0s;
	transition-duration:0.15s, 0.15s, 0.15s, 0.15s;
	transition-property:color, background-color, border-color, box-shadow;
	transition-timing-function:ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	user-select:none;
	vertical-align:middle;
	white-space:nowrap;
	word-spacing:0px;
	writing-mode:horizontal-tb;
	-webkit-appearance:none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-webkit-border-image:none;
/*
    color: #fff;    background-color: #5bc0de;
    border-color: #46b8da;
*/
}
.fc-button:hover{
	background-color:rgb(201, 201, 201);
}


.btn-default{

}
.btn-default:hover{
	background-color:rgb(201, 201, 201);
}

.dropdown-menu{
	font-size: 0.8rem;
}

.input-chico{
	height: 25px;
}
.margen-chico{
	margin: 0;
	margin-bottom: 2px;
	padding:0;
	white-space:nowrap;
}
.no-padding{
	padding: 0;
}

@media (max-width: 400px) {
  .fc-left {
    margin-bottom: 10px !important;
	}
}

option:disabled{
	color: #ff8080;
}

.rojo{
	color: #ff8080;	
}
.datepicker table tr td.active{
	background-image: none;
	background-color: #00b259 !important;
}
.datepicker table tr td.active:hover{
	background-image: none;
	background-color: #00984B !important;
}
.datepicker table tr td.today{
	background-image: none;
    background-color:#f1f1f1 !important;
}
.datepicker table tr td.today.disabled{
	background-image: none;
    background-color:#f1f1f1 !important;	
}
.datepicker table tr td.today:hover{
	background-image: none;
    background-color:#00984B !important;
}
.bootstrap-datetimepicker-widget table td.today:before {
    content: none;
}
.timepicker-picker a{
	color:#00984B !important;
}
.opciones_reunion{
	color: #00b259;
}
.opciones_reunion:hover {
	color: #00984B;
	background-color: #f1f1f1;
}

#tabla_asistencia td{
	padding: 5px 15px 5px 15px;
}
#tabla_asistencia th{
	padding:  5px 15px 5px 15px;
}
